@import '../../../assets//scss/colorVariables';

$stepperMainColor: $gray-200;
$size: 50px;

ol.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: $size;
    height: $size;
    border-radius: $size;
    color: $white;
  }

  &:after {
    position: absolute;
    content: '';
    z-index: 2;
    width: $size;
    height: $size;
    border-radius: $size;
    background-image: url('data:image/svg+xml;utf8,<svg width="31" height="25" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12.5L8.76038 21.9236C9.51772 22.9792 11.0649 23.0439 11.9076 22.055L29 2" stroke="white" stroke-width="4" stroke-linecap="round"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $teal;
    transform: scale(1);
    transition: 0.35s transform ease-in-out;
  }

  &:not(:last-child) {
    margin-right: 60px;
    &:before {
      content: '';
      z-index: -2;
      top: 50%;
      left: 50%;
      position: absolute;
      width: $size + 10;
      height: 1px;
      background-color: $stepperMainColor;
    }
  }

  &.active {
    &:after {
      z-index: -1;
      background: $white;
      border: 1px solid $stepperMainColor;
      transform: scale(1.2);
    }
    background-color: $stepperMainColor;
    color: $gray-500;

    & ~ li {
      color: $gray-500;
      background: $stepperMainColor;
      &:after {
        content: none;
      }
    }
  }
}
